.parent-element {
    width: 300px;
    height: 300px;
    /* border: 3px solid red; */
    margin: auto;
    position: relative;
    background-color: green;
    text-align: center;
    margin-top: 200px;
    
}
.parent-element .child {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;


    




}
