/* .parent-element {
    width: 450px;
    height: 300px;
    
    margin: auto;
    position: relative;
    background-color: green;
    text-align: center;
    margin-top: 100px;
    
}
.parent-element .child {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
} */
/* .parent-element .lathi {
    width: 5px;
    height: 500px;
    background-color :black;
    position: absolute;
    

} */
body {
    background-color: black;
}
h1 {
    color: #f3f3f6;
   
    margin: -8px 0;
}
pre{
    color: white;
    font-size: 16px;
    font-weight: 600;
    
}
.parent{
    width: 500px;
    height: auto;
    border-bottom:3px dashed red ;
    border-right: 3px dashed white;
    border-top: 3px dashed cyan;
    border-left: 3px dashed rgb(219, 234, 9);
    padding: 20px 0;
    text-align: center;
    display: inline-block;
    margin: 20px 60px;
    
}
.parent .flag1 {
    width: 300px;
    height: 100px;
    background-color: red;
    margin: 0 auto;   
}
.parent .flag2 {
    width: 300px;
    height: 100px;
    background-color: white;
    margin: 0 auto;   
}